@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');


/*GERAL */
*,
*::before,
*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
 font-size:62.5%;
}

body{
    font-family: 'Montserrat',
    sans-serif;
    font-size:1.6rem;

    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1;
}

.container{
    position:relative;
    margin-top:10rem;;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.199);
    border-radius:.2rem;
    max-width:45rem;
}
.header-container{
    width:100%;
    height:6rem;
    padding:1rem ;
    top:0;
    left:0;
    background-color:rgb(255, 255, 255);
    position:absolute; 
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.089);  
    
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1{
    font-weight: 300;
    font-size:2rem;
    text-transform:uppercase;
    letter-spacing:.2rem;
}
span{
    margin-left:.2rem;
    font-size:2rem;
    
}

.upload-img {
    background-color: rgb(255, 255, 255);
    min-height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

label .far.fa-plus-square {
    font-size: 2.5rem;
    padding-right: 1rem;
    color:rgb(180, 172, 172);
}

.img-container{
    margin-top:6rem;
    text-align:center;
}


img{
    max-width:100%;
    display:block;    
}



.controls{
     background-color:white;
     width:100%;
     display:flex;
     flex-direction:column;
     justify-content: center;
     padding:3rem;

}

.control{
    
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.control label{
    font-size:1.5rem;
    font-weight:300;
    padding: 0 2rem;
    
}

/*input style*/
input[type=range] {
    height: 20px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 50%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: #DEDEDE;
    border-radius: 1px;
}

input[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
    border-radius: 25px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #DEDEDE;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: #DEDEDE;
    border-radius: 1px;
}    

input[type=range]::-moz-range-thumb {

    height: 10px;
    width: 10px;
    border-radius: 25px;
    background: #000000;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #DEDEDE;
    border-radius: 2px;
   
}

input[type=range]::-ms-fill-upper {
    background: #DEDEDE;
    border-radius: 2px;

}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    height: 10px;
    width: 10px;
    border-radius: 25px;
    background: #000000;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #DEDEDE;
}

input[type=range]:focus::-ms-fill-upper {
    background: #DEDEDE;
}

/*CSS Variaveis*/


:root{
    --sepia: 0%;
    --contrast: 100%;
    --brightness: 100%;
    --invert: 0%;
    --opacity:100%;
    --grayscale:0%;
}

img{
    filter:sepia(var(--sepia)) contrast(var(--contrast)) brightness(var(--brightness)) invert(var(--invert)) opacity(var(--opacity)) grayscale(var(--grayscale));
}